# logs
npm-debug.log*

# testing
coverage

# dependencies
node_modules/
dist/
package-lock.json
/.pnp
.pnp.js

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env.office
.env.production

# production
#/build
